<div>
  <h3 align="center">Add your Product</h3>
  <p>{{ productForm.value | json }} {{ productForm.status | json }}</p>
<div class="position">
  <mat-card class="size">
  <form [hidden]="hideForm || redirect" novalidate [formGroup]="productForm" #pform="ngForm" (ngSubmit)="onSubmit()">
    <p>

      <mat-form-field class="half-width">
        <input matInput style="color: #009688" formControlName="id" placeholder="id" type="number" required>
        <mat-error *ngIf="formErrors.id">{{formErrors.id}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input matInput style="color: #009688" formControlName="name" placeholder="name" type="text" required>
        <mat-error *ngIf="formErrors.name">{{formErrors.name}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input style="color: #009688" matInput formControlName="price" placeholder="price" type="number" required>
        <mat-error *ngIf="formErrors.price">{{formErrors.price}}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input style="color: #009688" matInput formControlName="quantity" placeholder="quantity" type="number" required>
        <mat-error *ngIf="formErrors.quantity">{{formErrors.quantity}}</mat-error>
      </mat-form-field>
    <p>
    <table class="form-size">
    </table>
    <p align="center">
    <button type="submit" [disabled]="productForm.invalid" mat-button class="w3-teal text-floral-white">Submit</button>
  </p>
  </form>

  <div [hidden]="!hideForm || redirect" align="center">
    <h4 style="color: #009688">Submitting Form</h4>
    <mat-spinner></mat-spinner>
  </div>
    <div [hidden]="!redirect" align="center">
      <h4 style="color: #009688">Submitting Form</h4>
      <button routerLink="/product" mat-button class="background-primary text-floral-white">Back to Products List</button>
    </div>
  </mat-card>
</div>
</div>
