:host {
  position: fixed;
  width: 75vw;
  height: 100vh;
margin-top: 80px;
}

.full-width {
  width: 95%
}

.half-width {
  width: 50%
}

.form-size {
  width: 75%
}
.position{
  margin-top: 50px;
}
.size{
  margin-left: 180px;
  height: 280px;
  width: 800px;
  background-color: #f2f2f2;
}
h3{
  color: #009688;
}

