:host {
  position: fixed;
  width: 75vw;
  height: 100vh;

}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 30%;
  padding: 100px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
mat-card{
  width: 300px;
  height: 200px;
}
