
<div class="row">
  <div [hidden]="hide" class="column" *ngFor="let c of customers._embedded.customers">
<mat-card>
  <mat-card-header><h1>{{c.name | uppercase}}</h1></mat-card-header>
  <mat-card-content>
    {{c.email}}
  </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button (click)="produceBill(c.id)">make bill</button>
        </mat-card-actions>
</mat-card>
  </div>

<div [hidden]="!hide" align="center">
  <h4 style="color: #009688">Making your Bill in Progress</h4>
  <mat-spinner></mat-spinner>
</div>
</div>
